<body style="background:#AA60A8">
<font face="Arial" color="black">	
   <!--start logo-->
    <a href="#" id="logo"><%= image_tag 'dworldlogo1b.jpg'%></a>    

	<!--end logo-->
<h1>New user</h1>

<%= render 'form' %>
<p>
	
</p>
<%= link_to 'Back to Main Page', dworld_portfolio_path %>
</font>>
