<body style="background:#80BFFF">
<font face="Arial" color="black">		
   <!--start logo-->
    <a href="#" id="logo"><%= image_tag 'dworldlogo1b.jpg'%></a>    

	<!--end logo-->

<h1>Dharma World Temple USA Login Page</h1>

<%= render 'form' %>
<p></p>

<%= link_to 'Back', dworld_home_path %>
</font>
